<h1><%= @question.title %></h1>

<%= erb(:_errors) %>

<article>
  <p>
    <a href="/questions/<%= @question.id %>/upvote">Upvote</a></br>
    <%= @question.points %> points </br>
    <a href="/questions/<%= @question.id %>/downvote">Downvote</a></br>
    by <%= @author.username %> </br>
    <b>body:</b>
    <%= @question.body %>
  </p>
  <% if @question_comments %>
  <% @question_comments.each do |comment| %>
  <article>
    <p>
      <%= comment.body %> </br>
      by <%= comment.user.username %>
    </p>
  </article>
  <% end%>
  <% end %>

  <% if logged_in? %>
    <a href="/questions/<%= @question.id %>/comments/new">Comment</a>
  <% end %>
</article>

<% if logged_in? %>
<form action="/answers" method="post">
  <input type="text" name="answer[body]" placeholder="Put your answer details here!"></br>
  <input type = "hidden" name="answer[question_id]" value="<%= @question.id %>">
  <input type="submit" class="button" value="Submit">
</form>
<% end %>

<% if @answers %>
<article>
  <p>
    <%= @best_answer.body %></br>
    by <%= @best_answer.user.username %>
  </p>
</article>
<% @answers.each do |answer| %>
<article>
  <p>
    <%= answer.body %> </br>
    by <%= answer.user.username %>
    <% if current_user.id == answer.question.user.id %>
      <form action="/question/<%= answer.question.id %>/best" method="post">
        <input type="hidden" name="answer_id" value="<%= answer.id %>">
        <input type="submit" class="button" value="Best Answer">
      </form>
    <% end %>

    <% if answer.comments %>
    <% answer.comments.order(created_at: :asc).each do |comment| %>
    <ul>
      <li><%= comment.body %> - by <%= comment.user.username %></li>
    </ul>
    <% end %>
    <% end %>
  </p>
  <% if logged_in? %>
    <a href="/answers/<%= answer.id %>/comments/new">Comment</a>
  <% end %>
</article>
<% end%>
<% end %>
